
*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #ffffff;
}


.container {
    max-width: 288px;
    padding: 0 16px;
    margin: 0 auto;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
        padding: 0 16px;
    }
}

/* Desktop styles */
@media screen and (min-width: 1158px) {
    .container {
        max-width: 1128px;
        padding: 0 15px;
    }
}

/* Reset */
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
} 

ul, ol {
    list-style: none;
    margin: 0%;
    padding-left: 0%;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {text-decoration: none;}



/* Header */

.page-header {
    border-bottom: 1px solid #E7E9FC;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

/* Tablet styles */
@media screen and (min-width: 768px)  {
    .header-container {
        padding: 24px 0;
    }
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-logo {
    padding: 0;
    margin-right: 149px;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
    .header-logo {
        padding: 24px 0;
        margin-right: 120px;
    }
}

/* Desktop styles */
@media screen and (min-width: 1158px) {
    .header-logo {
        margin-right: 76px;
    }
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 18px;
    /* line-height: 21px; */
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    text-decoration: none;
    opacity: 0.67;
}

@media screen and (min-width: 768px) {
    .logo {
        opacity: 1;
    }
}


.span {
    color: #2E2F42;
}

.menu-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    padding: 0;
    border: none;
    background: transparent;
    box-shadow: none;
    outline: none;
    cursor: pointer;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.nav-list {
    display: none;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
    .nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
    }
    
}

.nav-link {
    position: relative;
    color: #2E2F42;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding: 24px 0;
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .nav-link::after {
        content: '';
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: transparent;
        border-radius: 2px;
        transition: background-color 250ms ease;
    }
        
    .nav-link:hover::after,
    .nav-link:focus::after {
        background-color: #404BBF;
    }

    .nav-link:hover {
        color: #404bbf;
    }
        
    .nav-link:focus {
        color: #404bbf;
    }

}

.address {
    font-style: normal;
    margin-left: auto;
}

.address-list {
    display: none;
}

/* Tablet styles */
@media screen and (min-width: 768px) {
    .address-list {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 12px;
    }
}

/* Desktop styles */
@media screen and (min-width: 1158px) {
    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;
    }

}

.contacts-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: block;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* Main page */

.section { 
    padding: 96px 0;
}

@media screen and (min-width: 1158) {
    .section {
        padding: 120px 0;
    }
}

/* Hero-section */
.hero-section {
    background: #2E2F42;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
        ),
        url(../images/hero-bg-mob.jpg);
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 72px 0;
    max-width: 767px;
    margin: 0 auto;
}

@media (min-resolution: 2x) {
    .hero-section {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)),
            url(../images/hero-bg-mob@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ),
            url(../images/hero-bg-tab.jpg);
        padding: 112px 0;
        max-width: 1157px;
    }

    @media (min-resolution: 2x) {
        .hero-section {
            background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/hero-bg-tab@2x.jpg);
            }
        }
}

@media screen and (min-width: 1158px) {
    .hero-section {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ),
            url(../images/hero-bg-desk.jpg);
        padding: 188px 0;
        max-width: 1440px;
    }

    @media (min-resolution: 2x) {
        .hero-section {
            background-image: linear-gradient(
                rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
                url(../images/hero-bg-desk@2x.jpg);
        }
    }
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .hero-container {
        gap: 36px;
    }
}

@media screen and (min-width: 1158px) {
    .hero-container {
        gap: 48px;
    }
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    max-width: 216px;
}

@media screen and (min-width: 768px) {
    .main-title {
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
    }
}


.button-order {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    min-width: 169px;
    height: 56px;
    border: none;
    border-radius: 4px;
}

.button-order:hover {
    background-color: #404BBF;
}

.button-order:focus {
    background-color: #404BBF;
}

/* Advantages Section */
.features-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .features-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
    }
}

@media screen and (min-width: 1158px) {
    .features-list {
        flex-wrap: nowrap;
    }
}


.features-items {
    flex-basis: calc((100% - 216px) / 4);
}

@media screen and (min-width: 768px) {
    .features-items {
        flex-basis: calc((100% - 24px) / 2);;
    }
}

@media screen and (min-width: 1158px) {
    .features-items {
        flex-basis: calc((100% - 72px) / 4);
    }
}

.features-icons {
    display: none;
}

@media screen and (min-width: 1158px) {
    .features-icons {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #f4f4fd;
        border-radius: 4px;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }
}

.features-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}

@media screen and (min-width: 768px) {
    .features-title {
        text-align: left;
    }
}
@media screen and (min-width: 1158px) {
    .features-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }
}

.features-text {
    font-size: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

@media screen and (min-width: 1158px) {
    .features-text {
    font-weight: 400;
    }
}

/* Team-section */
.team-section {
    background-color: #F4F4FD;
}

.team-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-list {
    display: flex;
    flex-direction: column;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .team-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 24px;
        justify-content: center;
    }
}

@media screen and (min-width: 1158px) {
    .team-list {
        flex-wrap: nowrap;
    }
}

.section-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-item {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    flex-basis: calc((100-3*72) / 4)
}

@media screen and (min-width: 768px) {
    .team-item {
        flex-basis: calc((100-3*24) / 4)
    }
}

.team-content {
    padding: 32px 0;
    align-items: center;
}

.team-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
    text-align: center;
}

.team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
    margin-bottom: 8px;
}

.social-list {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.social-item {
    width: 40px;
    height: 40px;
}

.social-link {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.social-link:hover { 
    background-color: #404bbf;
}

.social-link:focus {
    background-color: #404bbf;
}

.icons-social {
    fill: #f4f4fd;
}

/* Our Portfolio */
.portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
}

@media screen and (min-width: 768px) {
    .portfolio-list {
        flex-direction: row;
        gap: 24px;
        row-gap: 72;
    }
    .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
}
}

@media screen and (min-width: 1158px) {
    .portfolio-list{
        row-gap: 40;
    }
}

.portfolio-image {
    position: relative;
    overflow: hidden;
}

.image-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
            transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1158px) {
    .portfolio-item:hover .image-text {
        transform: translateY(0%);
        opacity: 1;
    }
    
    .portfolio-item {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
        flex-basis: calc((100% - 48px) / 3);
    }
}


.portfolio-content {
    border-bottom: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.port-title {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
}

.portfolio-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}


/* Footer */
.footer-section {
    background-color: #2E2F42;
    padding: 96px 0;
}

@media screen and (min-width: 1158px) {
    .footer-section {
        padding: 100px 0;
    }
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

@media screen and (min-width: 768px) {
    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: baseline;
        gap: 72px 24px;
    }
}

@media screen and (min-width: 1158px) {
    .footer-container {
        flex-wrap: nowrap;
    }
}

.footer-logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media screen and (min-width: 768px) {
    .footer-logo-container {
        align-items: flex-start;
    }
}

@media screen and (min-width: 1158px) {
    .footer-logo-container {
        margin-right: 120px;
        flex: 0 0 264px;
    }
}

.footer-logo {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
}


.footer-logo .span {
    color: #F4F4FD;
}

.footer-text {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
    max-width: 288px;
    text-align: left;
}

@media screen and (min-width: 768px) {
    .footer-text {
        max-width: 264px;
    }
}


.footer-social-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .footer-social-container{
        align-items: flex-start;
        text-align: left;
    }
}

@media screen and (min-width: 1158px) {
    .footer-social-container {
        margin-right: 80px;
    }
}

.social-media-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.social-list-footer {
    display: flex;
    gap: 16px;
}

.social-item-footer {
    width: 40px;
    height: 40px;
}

.social-link-footer {
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link-footer:hover {
    background-color: #31d0aa;
}

.social-link-footer:focus {
    background-color: #31d0aa;
}

.footer-subscribe-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}


.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

@media screen and (min-width: 768px) {
    .subscribe-form {
        flex-direction: row;
        gap: 24px;
    }
}


.subscribe-input {
    width: 264px;
    height: 40px;
    border: 1px solid #FFFFFF;
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    opacity: 0.3;
    border-radius: 4px;
    color: #ffffff;
}

@media screen and (min-width: 1158px) {
    .subscribe-input {
        opacity: 1;
    }
}

.subscribe-input::placeholder {
    color: #FFFFFF;
}

.subscribe-button {
    width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none;
    border-radius: 4px;
}

@media screen and (min-width: 768px) {
    .subscribe-button {
        width: 0;
        min-width: 165px;
    }
}

.subscribe-icon {
    margin-left: 16px;
    flex-shrink: 0;
    fill: #ffffff;
    display: block;
}

.subscribe-button:hover {
    background-color: #404BBF;
}


/* Modal-backdrop */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.backdrop.is-open {
    visibility: visible;
    opacity: 1;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 288px;
    min-height: 584px;
    background: #FCFCFC;
    padding: 72px 24px 24px 24px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

@media screen and (min-width: 768px) {
    .modal {
        width: 408px;
    }
}

.modal-close {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0%;
    cursor: pointer;
    line-height: 0%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.modal-close:hover,
.modal-close:focus {
    background-color: #404bbf;
    border: none;
}

.icons-modal {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover .icons-modal,
.modal-close:focus .icons-modal {
    fill: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-bottom: 8px;
}

.form-label {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block;
    flex-direction: column;
    margin-bottom: 4px;
}

.input-wrapper {
    position: relative;
}

.input-wrapper input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px 8px 38px;
    border-radius: 4px;
    background-color: transparent;
    color: #2E2F42;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.input-icons {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    pointer-events: none;
}

.input-wrapper input:hover,
.input-wrapper input:focus {
    border-color: #4D5AE5;
}

.input-wrapper input:hover + .input-icons,
.input-wrapper input:focus + .input-icons {
    fill: #4D5AE5;
}

.form-textarea {
    margin-bottom: 16px
}

.textarea {
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    padding: 8px 16px;
    border-radius: 4px;
    background-color: transparent;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
    border-color: #4D5AE5;
}

.form-checkbox {
    margin-bottom: 24px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.checkbox-lable {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.custom-checkbox {
    display: inline-flex;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
    fill: transparent;
}

.visually-hidden:checked + .checkbox-lable .custom-checkbox {
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.policy-link {
    color: #4d5ae5;
    line-height: 1.33;
    text-decoration: underline;
    text-decoration-skip-ink: none;

}

.checkbox-lable input {
    margin-right: 8px;
}

.modal-button {
    display: block;
    min-width: 169px;
    align-items: center;
    justify-content: center;
    padding: 16px 32px;
    margin: 0 auto;
    background-color: #4D5AE5;
    color: #FFFFFF;
    height: 56px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

button[type="submit"]:hover,
button[type="submit"]:focus {
    background-color: #404bbf;
}

/* MODAL MENU */

.mobile-menu {
    position: fixed;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-width: 320px;
    background-color: #FCFCFC;
    padding: 76px 16px 40px;
    margin: 0px auto;
    z-index: 999;
    transform: translateX(100%);
    transition: transform 300ms ease-in-out;
}

.mobile-menu.is-open {
    display: block;
    transform: translateX(0);
}

@media (min-width: 768px) {
    .mobile-menu {
        display: none !important;
    }
}

.menu-close {
    position: absolute;
    top: 24px;
    right: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.mobile-nav-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 24px;
    margin-bottom: 168px;
}

.mobile-nav-list a {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;
}

.mobile-nav-list a:hover,
.mobile-nav-list a:focus {
    color: #404BBF;
}

.mobile-address-list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
    font-style: normal;
}

.mobile-address-list a {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    text-decoration: none;
}

.mobile-address-list a:hover,
.mobile-address-list a:focus {
    color: #404BBF;
}

.mobile-socials {
    display: flex;
    gap: 40px;
    justify-content: center;
}

.mobile-socials img {
    width: 40px;
    height: 40px;
}